.container {
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.chroma {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #666666;
}

.chroma::before {
  content: "";
  background-image: url("./assets/chroma-dim3rds.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
